.env
node_modules
package-lock.json
.DS_Store

# Xcode build artifacts
*.app
build/
DerivedData/
*.xcarchive
*.dSYM.zip
*.dSYM

# Xcode user-specific files
*.xcuserstate
*.xcuserdatad
xcuserdata/
*.xccheckout
*.xcscmblueprint
*.hmap
*.ipa
*.zip
